body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #164ebda2; /* Optional: A subtle background color */
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restartButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #5b4caf; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #45a049;
}

#container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
